SUPABASE_URL=https://jyfrjlznpykxsueyrmix.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp5ZnJqbHpucHlreHN1ZXlybWl4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5NzA3NDYsImV4cCI6MjA5NzU0Njc0Nn0.X35eCmfAmXL9MDJVoeD8bNVckNpYG7oAjSZ3ftLW8iw